import { Component } from '@angular/core';

@Component({
    selector: 'app-<%= dasherize(name) %>-view',
    templateUrl: './<%= dasherize(name) %>-view.component.html',
    styleUrls: ['./<%= dasherize(name) %>-view.component.css']
})
export class <%= classify(name) %>ViewComponent {

}
